.bold{
    font-weight: bold;
}
.square{
    height: 50px;
    width: 50px;
    background-color: limegreen;
    border:solid;
    border-color: green;
}
img{
    max-width: 1200px;
    width: 600px;
    @media (max-width: 800px)
    {
        width: 400px;
    }
}